  <!-- ------------------------ -->
  <!--      BANNER AREA         -->
  <!-- ------------------------ -->

    <div class="max row">
        <div class="banner">
            <div class="large-6 large-centered columns ">
                <div class="content">
                    <img src="assets/img/logotype.svg" />
                    
                    <!-- <div class="headline">Define | Design | Deliver</div> -->
                    <div class="subhead">[ Custom Web Design & App Development ]</div>
                    <!-- <div class="social">
                        <div class="dribbble"></div>
                        <div class="twitter"></div>
                        <div class="linkedin"></div>
                        <div class="behance"></div>
                        <div class="googleplus"></div>
                    </div> -->
                    <!-- <div class="button client">Client Login</div> -->
                </div>
            </div>
        </div>
    </div>